
<h3>Stat Form</h3>

    <EditForm Model="@SelectedStat" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary Model="@SelectedStat" />


        <div class="form-group">
            <label class="control-label">Stat Name</label>
            <InputText @bind-Value="SelectedStat.StatName" class="form-control" />
            <ValidationMessage For="@(() => SelectedStat.StatName)" class="text-danger" />
        </div>
        <div class="form-group">
            <label class="control-label">Beginning Value</label>
            <InputNumber @bind-Value="SelectedStat.BeginningValue" class="form-control" />
            <ValidationMessage For="@(() => SelectedStat.BeginningValue)" class="text-danger" />
        </div>

        <div class="form-group">
               <label for="control-label">Choose up to 5 Stat Tags</label>

               <InputSelectNumber @bind-Value="SelectedStat.StatTagIds" class ="form-control">
                   @foreach (var tag in AllStatTags)
                  {
                      <option value=@tag.Id>@tag.Name</option>
                  }
               </InputSelectNumber>
         </div>
   
      
      @*
          //https://www.youtube.com/watch?v=qhdyYpEpr_k
          //create a multiselect checkbox for each stat tag.    
       //https://getbootstrap.com/docs/5.1/forms/checks-radios/ (toggle buttons)
       //https://www.w3schools.com/tags/att_select_multiple.asp
       //can I find one that lets me make ovular tags? and have them switch from grey to green for selected?
       //    /---------------\
       //   |    Tag text     |          
       //    \_______________/*@
   

        <AuthorizeView Roles="Admin, superuser" Context="authContext">
            <Authorized>
                <button type="submit" class="btn btn-success">
                    @ButtonText
                </button>
            </Authorized>
            <NotAuthorized>
             <h3>Disabled</h3>
            </NotAuthorized>
            <Authorizing>
                Checking Role
            </Authorizing>
        </AuthorizeView>

    </EditForm>

@code {
    [Parameter] public StatModel SelectedStat { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    [Parameter] public List<StatTagModel> AllStatTags { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    }


    @*https://codewithmukesh.com/blog/blazor-crud-with-entity-framework-core/*@


    @*https://www.syncfusion.com/blogs/post/how-to-create-a-dynamic-form-builder-in-blazor.aspx*@