
    <h3>Form</h3>
    <EditForm Model="@SelectedEquipment" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary Model="@SelectedEquipment" />


        <div class="form-group">
            <label class="control-label">Equipment Name</label>
            <InputText @bind-Value="SelectedEquipment.Name" class="form-control" />
            <ValidationMessage For="@(() => SelectedEquipment.Name)" class="text-danger" />
        </div>
        <div class="form-group">
            <label class="control-label">Description</label>
            <InputTextArea @bind-Value="SelectedEquipment.Description" class="form-control" />
            <ValidationMessage For="@(() => SelectedEquipment.Description)" class="text-danger" />
        </div>

            <div class="form-group">
                <label class="control-label">Equipment Group</label>
                <div>
                    <InputSelect @bind-Value="SelectedEquipment.EquipmentGroup" class="form-control">
                        <option value="Select">(Choose)</option>
                        @foreach (EquipmentGroupModel group in EquipmentGroups)
                        {
                            <option value="@group.Id">@group.Name</option>
                        }
                    </InputSelect>
                </div>
            </div>
        

            <button type="submit" class="btn btn-success">
                @ButtonText
            </button>


        </EditForm>

    @code {
        [Parameter] public EquipmentModel SelectedEquipment { get; set; }
        [Parameter] public string ButtonText { get; set; } = "Save";
        [Parameter] public EventCallback OnValidSubmit { get; set; }
        [Parameter] public List<EquipmentGroupModel> EquipmentGroups { get; set; }

    }


    @*https://codewithmukesh.com/blog/blazor-crud-with-entity-framework-/*@


    @*https://www.syncfusion.com/blogs/post/how-to-create-a-dynamic-form-builder-in-blazor.aspx*@