
<h3>Form</h3>
<EditForm Model="@SelectedClass" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary Model="@SelectedClass" />

    <div class="form-group">
        <label class="control-label">Name</label>
        <InputText @bind-Value="SelectedClass.Name" class="form-control" />
        <ValidationMessage For="@(() => SelectedClass.Name)" class="text-danger" />
    </div>

    <div class="form-group">
        <label class="control-label">Governing Attribute</label>
        <div>
            <InputSelect @bind-Value="SelectedClass.GoverningAttribute" class="form-control">
                <option value="">(Choose)</option>
                @foreach (StatModel stat in AttributeStats)
                {
                    <option value="@stat.Id">@stat.StatName</option>
                }
            </InputSelect>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Description</label>
        <InputText @bind-Value="SelectedClass.Description" class="form-control" />
        <ValidationMessage For="@(() => SelectedClass.Description)" class="text-danger" />
    </div>

    <AuthorizeView Roles="admin, superuser" Context="authContext">
        <Authorized>
            <button type="submit" class="btn btn-success">
                @ButtonText
            </button>
        </Authorized>
    </AuthorizeView>
</EditForm>
@code {
    [Parameter] public ElebrisClassModel SelectedClass { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public List<StatModel> AttributeStats { get; set; }

}


@*https://codewithmukesh.com/blog/blazor-crud-with-entity-framework-/*@


@*https://www.syncfusion.com/blogs/post/how-to-create-a-dynamic-form-builder-in-blazor.aspx*@