@page "/Mastery/FetchData"
@inject IMasteryData masteryData
@inject ICachedLists cachedList
@inject IJSRuntime js
<h3>Mastery</h3>

    <small>Add as many masteries as you wish.</small>
    <div class="form-group">
        <a class="btn btn-success" href="mastery/create"><i class="oi oi-plus"></i> Create New</a>
    </div>
    <br>
    @if (AllMastery == null)
    {
        <text>Loading...</text>
    }
    else if (AllMastery.Count == 0)
    {
        <text>No Records Found.</text>
    }
    else
    {

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (MasteryModel item in AllMastery)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.MasteryGroupName</td>
                    @*<td>@ReturnMasteryGroupName(@item.MasteryGroup)</td>*@

                    <td>
                        <a class="btn btn-success" href="/Mastery/Edit/@item.Id">Edit</a>
                        <AuthorizeView Roles="Admin, superuser">
                            <Authorized>
                                <button class="btn btn-danger" @onclick="@(() => Delete(item.Id))">Delete</button>
                            </Authorized>
                            <NotAuthorized>
                             <h3>Disabled</h3>
                            </NotAuthorized>
                        </AuthorizeView>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    }
    @code {


        private List<MasteryModel> AllMastery { get; set; } = new List<MasteryModel>();
        private List<MasteryGroupModel> MasteryGroups { get; set; } = new List<MasteryGroupModel>();
        protected override async Task OnInitializedAsync()
        {
            MasteryGroups = cachedList.CachedMasteryGroups;
            AllMastery= await masteryData.GetAllMasteryModels();

        }
        [Authorize(Roles = "Administrator")]
        async Task Delete(int roleid)
        {
            var mastery = AllMastery.First(x => x.Id == roleid);
            if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete {mastery.Name}'s ({mastery.Id}) Record?"))
            {

                await masteryData.DeleteMastery(roleid);
            }
        }
        //public string ReturnMasteryGroupName(int id)
        //{
        //Added a string for equipment name directly to to the equipmentmodel
        //    var group = MasteryGroups.FirstOrDefault(x => x.Id == id);
        //    return group.Name;

        //}


    }

